.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  display: flex;
  width: fit-content;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.chip-wrapper {
  margin: 2px;
}

.box {
  display: flex;
  flex-wrap: wrap;

  max-width: 350px;
  height: auto;
  background-color: #ece2e2;
}
.inputWidth {
  border: transparent;
}
.inputWidth:focus {
  border: transparent;
  outline: none;
}

.cross {
  cursor: pointer;
}
.inputWidth {
  width: 100%;
}
label {
  cursor: pointer;
}

.centerDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.listWidth {
  background-color: #ece2e2;
}
